* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    body {
      font-family: inter, sans-serif;
      background-color: var(--purple-50);
    }

    nav {
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 15px 20px;
      z-index: 1000;
    }

    .logo {
      color: var(--purple-700);
      font-size: 24px;
      font-family: pacifico;
      font-weight: bold;
    }

    .nav-links {
      display: flex;
      gap: 10px;
      list-style: none;
    }

    .nav-links li a {
      color: var(--purple-700);
      font-size: 20px;
      font-weight: 500;
      font-family: inter, sans-serif;
      text-decoration: none;
      padding: 8px 12px;
      transition: background 0.3s;
    } 
    .nav-links #btn{
      background-color: var(--purple-600);
      color: #fff;
      padding: 12px 50px;
      font-size: 18px;
      border-radius: 5px;
    }

    .nav-links li a:hover {
      background-color: #555;
      border-radius: 5px;
    }

    .menu-toggle {
      display: none;
      flex-direction: column;
      cursor: pointer;
    }

    .menu-toggle span {
      height: 3px;
      width: 25px;
      background: rgb(0, 0, 0);
      margin: 4px 0;
    }
    .close-btn {
      display: none;
      font-size: 28px;
      color: rgba(0, 0, 0, 0.442);
      position: absolute;
      top: 15px;
      right: 20px;
      cursor: pointer;
    }

    @media screen and (max-width: 768px) {
      nav {
        background: var(--gradient);
      }
      .logo {
        color: #fff;
      }
      .menu-toggle span{
        background: #fff;
        border-radius: 10px;
      }
      .nav-links {
        flex-direction: column;
        position: fixed;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        top: 0;
        right: -250px;
        width: 250px;
        height: 100%;
        background-color: #ffffff;
        padding-top: 90px;
        transition: right 0.8s ease;
      }

      .nav-links.show {
        right: 0;
      }

      .menu-toggle {
        display: flex;
      }

      .close-btn {
        display: block;
        font-size: 3em;
      }

      .nav-links li {
        padding: 20px 20px;
      }
    }

    nav .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    main {
      margin-top: 80px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    main h2 {
      font-size: 1.8em;
      color: var(--purple-900);
      margin-bottom: 20px;
    }
    main p {
      font-size: 1.2em;
      color: #0c0c0cb5;
      text-align: center;
      max-width: 600px;
      line-height: 1.5em;
      margin-bottom: 20px;

    }
    main .card {
      background: var(--gradient);
      border-radius: 10px;
      padding: 20px;
    }
    main .card .card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: start;
    }
    main .card .card-content h3 {
      font-size: 1.8em;
      font-family: inter;
      position: relative;
      right: 20px;
      color: #fff;
      margin-bottom: 15px;
    }
    main .card .card-content p {
      font-size: 1.2em;
      font-family: inter;
      font-weight: 400;
      color: #fff;
      line-height: 1.5em;
      margin-bottom: 20px;
      text-align: start;
    }
    main .card .card-content button {
      background-color: #fff;
      border: none;
      font-weight: 700;
      color: var(--purple-800);
      cursor: pointer;
      padding: 15px 30px;
      border-radius: 5px;
      font-size: 1em;
      text-decoration: none;
    }
    section {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    section h2 {
      font-size: 1.7em;
      color: var(--purple-900);
      margin-bottom: 25px;
    }
    section .events {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 25px;
    }
    section .events .card-events {
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    section .card-events div {
      background: var(--gradient-gala);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      width: 100%;
      height: 160px;
      padding: 5px;
    }
    section .card-events div p {
      color: #fff;
      font-size: 1.5em;
      font-weight: 700;
      font-family: inter;
      padding-top: 115px;
    } 
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 15px;
      width: 100%;
    }
    ul li {
      font-weight: 400;
      font-family: inter;
      font-size: 1em;
      color: #0c0c0cb5;
    }
    ul li img {
      width: 25px;
      height: 25px;
      position: relative;
      top: 6px;
    }
    section .card-events p{
      padding: 18px;
      position: relative;
      top: -10px;
      font-size: 18px;
      color: #0c0c0cb5;
      line-height: 1.5em;
      font-family: inter;
    }
    section .card-events span {
      display: flex;
      gap: 10px;
      align-items: center;
    }
    section .card-events span p{
      font-weight: 700;
      color: var(--purple-800);
      font-size: 1.3em;
    }
    section .card-events span button {
      background-color: var(--purple-800);
      border: none;
      font-weight: 400;
      color: #fff;
      cursor: pointer;
      padding: 10px 50px;
      border-radius: 5px;
      font-size: 1em;
      position: relative;
      top: -10px;
    }




 